body{
	margin:0;
	padding:0;
	background-color: gray;
}
table{
	padding: 0;
	margin: 150px 0 0 0;
	position: relative;
	border-collapse:collapse;
  align-items: center;
	background-color: gray;
}
th{
	padding: 0;
	border:none;
	height:30px;
	width:30px;
}

th, td {
	background-color:white;
}
th{
  background-color: gray;
}
.wall{
  background-color: black;
}
.player{
  background-color: #74fff7;
	position: absolute;
}
.player_blink{
	background-color: #74a6f7;
}
.lava{
	background-image: url('img/lava.png');
}
.lava_blink{
	background-image: url('img/lavablink.png');
}
.container{
  display: flex;
  justify-content: center;
}
